.form-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
   
    p{
        display: block;
        color: var(--grey-600);
        font-size: var(--fs-m);
        font-weight: var(--fw-normal);
        padding: 15px;
        span{
            text-decoration: underline;
            font-weight: var(--fw-bold);
            font-size: inherit;
            color: inherit;
            cursor: pointer;
        }
    }
    
}